.mainCategory{
    width: 200px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
        to top,
        #00000021 0%,          
        rgba(248, 247, 247, 0.177) 40%
      );
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.mainCategory img{
    width: 180px;
    height: 200px;
}
.mainCategory div{
    width: 80%;
}
.paragraph{
    color: wheat;
    font-size: small;
    font-family:"Lexend Zetta", sans-serif ;
}
.lexend{
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }